<p id="notice"><%= notice %></p>

<h1>Book Absolutions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_absolutions.each do |book_absolution| %>
      <tr>
        <td><%= link_to 'Show', book_absolution %></td>
        <td><%= link_to 'Edit', edit_book_absolution_path(book_absolution) %></td>
        <td><%= link_to 'Destroy', book_absolution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book Absolution', new_book_absolution_path %>
