<div class="product-reviews">
    <% @comments.each do |comment| %>
        <div class="row">
            <hr><p>
              <% if signed_in? && current_user.admin? %>
              <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </p>
            <p><%= "Rating: #{comment.rating}/5" %></p>
            <p><%= comment.body %></p>
            <div class="rated" data-score="<%= comment.rating %>"></div>
        </div>
        <div class="digg_pagination">
          <div>
            <%= page_entries_info @comments %>
          </div>
          <%= will_paginate @comments, :container => false %>
        </div>
    <% end %>
</div>
