<p id="notice"><%= notice %></p>

<% cache @product do %>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<% end %>
<p>
  <strong>Image url:</strong>
  <%= image_tag(@product.image_url, width: "200", id: "img-zoom", data_zoom_image: @product.image_url) %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= @product.highest_rating_comment %>

<p class="viewed">
  <span class="badge">
    <i class="glyphicon glyphicon-eye-open"></i>
    Viewed
    <%= @product.viewed %>
  </span>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<%= render 'new_comment' %>
<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
<%= render 'comments' %>

<p>Average Rating: <div class="#average-rating" data-score="<%= @product.average_rating %>"></div> </p>


<%= form_with(url: '/payments/create') do |form| %>
<%= hidden_field_tag(:product_id, @product.id) %>
<%= render partial: "shared/stripe_checkout_button" %>
<% end %>
